section.canhcam-about-3#canhcam-about-section-3
	.container
		h1.antuong-title.upcase.mb-5 hội đồng thành viên
		.row
			.col
				article.owl-carousel.owl-theme.list-items
					.item
						a(href='#')
							figure
								img.img-fluid(src='./img/antuong/about/about_3.png', alt='')
								figcaption.text-center(data-mh="figcaption")
									p Ông 
										b Phan Quốc Thịnh
									p Chủ tịch HĐTV
									a(href="#").readmore Xem thêm
										em.lnr.lnr-arrow-right.ml-3
					.item
						a(href='#')
							figure
								img.img-fluid(src='./img/antuong/about/about_3.png', alt='')
								figcaption.text-center(data-mh="figcaption")
									p Ông 
										b Phan Quốc Thịnh
									p Chủ tịch HĐTV
									a(href="#").readmore Xem thêm
										em.lnr.lnr-arrow-right.ml-3
					.item
						a(href='#')
							figure
								img.img-fluid(src='./img/antuong/about/about_3.png', alt='')
								figcaption.text-center(data-mh="figcaption")
									p Ông 
										b Phan Quốc Thịnh
									p Thành viên HĐTV kiêm 
									p Tồng giám đốc
									a(href="#").readmore Xem thêm
										em.lnr.lnr-arrow-right.ml-3
					.item
						a(href='#')
							figure
								img.img-fluid(src='./img/antuong/about/about_3.png', alt='')
								figcaption.text-center(data-mh="figcaption")
									p Ông 
										b Phan Quốc Thịnh
									p Thành viên HĐTV kiêm 
									p Tồng giám đốc
									a(href="#").readmore Xem thêm
										em.lnr.lnr-arrow-right.ml-3
					.item
						a(href='#')
							figure
								img.img-fluid(src='./img/antuong/about/about_3.png', alt='')
								figcaption.text-center(data-mh="figcaption")
									p Ông 
										b Phan Quốc Thịnh
									p Thành viên HĐTV kiêm 
									p Tồng giám đốc
									a(href="#").readmore Xem thêm
										em.lnr.lnr-arrow-right.ml-3
					.item
						a(href='#')
							figure
								img.img-fluid(src='./img/antuong/about/about_3.png', alt='')
								figcaption.text-center(data-mh="figcaption")
									p Ông 
										b Phan Quốc Thịnh
									p Thành viên HĐTV kiêm 
									p Tồng giám đốc
									a(href="#").readmore Xem thêm
										em.lnr.lnr-arrow-right.ml-3