section.canhcam-sale-2
	.container
		.select
			h4.text-uppercase Chọn hướng nhà theo phong thủy
			.row
				.col-lg-6.col-xl-3
					.sl-city(data-mh="select")
						select
							option Năm sinh
				.col-lg-6.col-xl-3
					.sl-city(data-mh="select")
						select
							option Giới tính
				.col-lg-6.col-xl-3
					.sl-city(data-mh="select")
						select
							option Vui lòng chọn hướng nhà
				.col-lg-6.col-xl-3.text-center.text-lg-left
					a.btn.btn-search(href='#' data-mh="select") Xem kết quả