section.canhcam-project_detail-5
	.container
		.row
			.col.text-center
				h2.h2.mb-5 Lorem
		.row
			.col
				article.owl-carousel.carousel-1.owl-theme.list-items
					.item
						h5 Tháng 1
					.item
						h5 Tháng 2
					.item
						h5 Tháng 3
					.item
						h5 Tháng 4
					.item
						h5 Tháng 5
					.item
						h5 Tháng 6
					.item
						h5 Tháng 7
					.item
						h5 Tháng 8
					.item
						h5 Tháng 9
					.item
						h5 Tháng 10
					.item
						h5 Tháng 11
					.item
						h5 Tháng 12
		.row
			.col
				article.owl-carousel.carousel-2.owl-theme.list-items
					.item
						img.img-fluid(src='./img/antuong/project_detail/detail_9.png')
					.item
						img.img-fluid(src='./img/antuong/project_detail/detail_9.png')
					.item
						img.img-fluid(src='./img/antuong/project_detail/detail_9.png')
					.item
						img.img-fluid(src='./img/antuong/project_detail/detail_9.png')
					.item
						img.img-fluid(src='./img/antuong/project_detail/detail_9.png')
					.item
						img.img-fluid(src='./img/antuong/project_detail/detail_9.png')
					.item
						img.img-fluid(src='./img/antuong/project_detail/detail_9.png')
					.item
						img.img-fluid(src='./img/antuong/project_detail/detail_9.png')
					.item
						img.img-fluid(src='./img/antuong/project_detail/detail_9.png')
					.item
						img.img-fluid(src='./img/antuong/project_detail/detail_9.png')
					.item
						img.img-fluid(src='./img/antuong/project_detail/detail_9.png')
					.item
						img.img-fluid(src='./img/antuong/project_detail/detail_9.png')