section.canhcam-home-1(bg-img='./img/antuong/home/home_bg_1.png')
	.container
		h1.antuong-title.mb-lg-5 Tại sao nên chọn An Tường Real
		.row.no-gutters
			.col-12.col-lg.order-lg-1
				.row
					.col-4.col-lg-5.order-lg-2
						.about-img.text-center
							img.img-fluid(src="./img/antuong/home/home_icon_4.png", alt="")
					.col-8.col-lg-7.order-lg-1.align-self-center
						.about.text-lg-right
							h4 Đa dạng sản phẩm
							p Hơn 100 dự án bất động sản thuộc nhiều phân khúc khác nhau
				.row.row-2
					.col-4.col-lg-5.order-lg-2
						.about-img.text-center
							img.img-fluid(src="./img/antuong/home/home_icon_5.png", alt="")
					.col-8.col-lg-7.order-lg-1.align-self-center
						.about.text-lg-right
							h4 Đa dạng sản phẩm
							p Hơn 100 dự án bất động sản thuộc nhiều phân khúc khác nhau
			
			.col-12.col-lg.order-lg-3
				.row
					.col-4.col-lg-5
						.about-img.text-center
							img.img-fluid(src="./img/antuong/home/home_icon_6.png", alt="")
					.col-8.col-lg-7.align-self-center
						.about.text-left
							h4 Đa dạng sản phẩm
							p Hơn 100 dự án bất động sản thuộc nhiều phân khúc khác nhau
				.row.row-2
					.col-4.col-lg-5
						.about-img.text-center
							img.img-fluid(src="./img/antuong/home/home_icon_7.png", alt="")
					.col-8.col-lg-7.align-self-center
						.about.text-left
							h4 Đa dạng sản phẩm
							p Hơn 100 dự án bất động sản thuộc nhiều phân khúc khác nhau
			.col-lg-5.order-lg-2.mt-4.mt-lg-auto
				img.img-fluid.img-center(src="./img/antuong/home/home_img_1.png", alt="")