section.canhcam-salenew-1
	.container
		h1.antuong-title.upcase.mb-4.mb-lg-5 bán & cho thuê với ndtt
		.register-form
			.row.justify-content-center
				.col-md-8
					p.desc.text-center.mb-5 An Tường Real làm việc trên tinh thần hợp tác lâu dài, giúp bạn nhanh chóng bán được bất động sản theo giá bạn mong muốn. Đăng ký form ngay để ký gửi bất động sản với chúng tôi.
					form.validator.justify-content-center
						.form-group
							label Họ tên *
							input.form-control(type='text',  data-error="Vui lòng nhập thông tin", required)
						.form-group
							label Số điện thoại *
							input.form-control(type='text',  data-error="Vui lòng nhập thông tin", required)
						.form-group
							label Email *
							input.form-control(type='text',  data-error="Vui lòng nhập thông tin", required)
						.form-group
							label Địa chỉ nhà cần cho thuê/ bán *
							input.form-control(type='text',  data-error="Vui lòng nhập thông tin", required)
						.form-group
							label Giá bán mong muốn *
							input.form-control(type='text')
						.form-group
							label Lời nhắn
							textarea.form-control(type='text',  data-error="Vui lòng nhập thông tin", required)
						.form-group
							label Hình ảnh đính kèm
							input.form-control(type='file')
						.form-group
							label Mã xác nhận *
						.submit.text-center.mt-4.mt-lg-5
							button.btn.btn-register.text-uppercase(type="submit")
								| Đăng ký
