section.canhcam-nav-2
	article.nav-list
		.container
			nav#detail-scroll
				ul
					li
						a.active(href="#canhcam-detail-section-1") Giới thiệu
					li
						a(href="#canhcam-detail-section-2") Vị trí
					li
						a(href="#canhcam-detail-section-3") Mặt bằng
					li
						a(href="#canhcam-detail-section-4") Tiện ích
					li
						a(href="#canhcam-detail-section-5") Tiến độ
					li
						a(href="#canhcam-detail-section-6") Phương thức thanh toán
					li
						a(href="#canhcam-detail-section-7") Hình ảnh
					li
						a(href="#canhcam-detail-section-8") Video
					li
						a(href="#canhcam-detail-section-9") Chủ đầu tư