section.canhcam-register-1
	.container
		h1.antuong-title.upcase.mb-4.mb-lg-5 đăng ký làm cộng tác viên atr
		.register-form
			.row.justify-content-center
				.col-md-8
					form.validator.justify-content-center
						.form-group
							label Tên đăng nhập *
							input#user.form-control(type='text',  data-error="Vui lòng nhập thông tin", required)
						.form-group
							label Mật khẩu *
							input#pass.form-control(type='password',  data-error="Vui lòng nhập thông tin", required)
						.form-group
							label Nhập lại mật khẩu *
							input#repass.form-control(type='password',  data-error="Vui lòng nhập thông tin", required)
						.form-group
							label Họ tên *
							input#name.form-control(type='text',  data-error="Vui lòng nhập thông tin", required)
						.form-group
							label Email *
							input#email.form-control(type='text',  data-error="Vui lòng nhập thông tin", required)
						.form-group
							label Điện thoại di động *
							input#phone.form-control(type='text',  data-error="Vui lòng nhập thông tin", required)
						.form-group
							label Website
							input#web.form-control(type='text')
						.form-group
							label Địa chỉ *
							input#address.form-control(type='text',  data-error="Vui lòng nhập thông tin", required)
						.accept.mt-4
							.form-checkbox
								input.checkbox(type='checkbox')
								span.checkmark
								| Đồng ý với điều khoản dành cho đối tác
							.form-checkbox
								span.checkmark
								input.checkbox(type='checkbox') 
								| Đồng ý đăng ký nhận thông tin từ An Tường Real
							p.mt-3 Khi đăng ký tài khoản là bạn đã đồng ý với chính sách bảo mật, điều khoản của An Tường Real và nhận tài liệu hướng dẫn qua email đã đăng ký.
						.submit.text-center.mt-4.mt-lg-5
							button.btn.btn-register.text-uppercase(type="submit")
								| Đăng ký
							p Đã có tài khoản?
								a(href="#") Đăng nhập
