section.canhcam-project-detail-8#canhcam-detail-section-9
	.container
		h1.antuong-title.upcase.mb-4 Chủ đầu tư
		.img-content.text-center
			img.img-fluid(src="./img/antuong/project_detail/detail_10.png", alt="")
		.content
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo fuga a quis, sequi, provident velit molestias praesentium temporibus eveniet cumque placeat beatae omnis molestiae! Ratione cupiditate exercitationem labore dolorem explicabo! temporibus eveniet cumque placeat beatae omnis molestiae! Ratione cupiditate exercitationem labore dolorem explicabo!
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo fuga a quis, sequi, provident velit molestias praesentium temporibus eveniet cumque placeat beatae omnis molestiae! Ratione cupiditate exercitationem labore dolorem explicabo! temporibus eveniet cumque placeat beatae omnis molestiae! Ratione cupiditate exercitationem labore dolorem explicabo!
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo fuga a quis, sequi, provident velit molestias praesentium temporibus eveniet cumque placeat beatae omnis molestiae! Ratione cupiditate exercitationem labore dolorem explicabo! temporibus eveniet cumque placeat beatae omnis molestiae! Ratione cupiditate exercitationem labore dolorem explicabo!