section.canhcam-statistical-1
	.container
		.row
			.col-lg-3
				include ../../nav/n-8/statistical.pug
			.col-lg-9
				.table-result.mt-5.mt-lg-0
					h1.antuong-title.upcase.mb-4.mb-lg-5.main báo cáo thống kê
					table.table
						thead
							tr
								th(scope="col" width='10%') Ngày yêu cầu
								th(width='40%') Tên dự án
								th(width='10%') Hoa hồng
								th(width='20%') Trạng thái
								th(width='20%') Ngày thanh toán
						tbody
							tr
								th(scope="row") 24/10/1999
								td.text-left Đất nền Gold Hill
								td 45.000.000 đ
								td Đã thanh toán
								td 24/10/1999
							tr
								th(scope="row") 24/10/1999
								td.text-left Đất nền Gold Hill
								td 45.000.000 đ
								td Đã thanh toán
								td 24/10/1999
							tr
								th(scope="row") 24/10/1999
								td.text-left Đất nền Gold Hill
								td 45.000.000 đ
								td Đã thanh toán
								td 24/10/1999
							tr
								th(scope="row") 24/10/1999
								td.text-left Đất nền Gold Hill
								td 45.000.000 đ
								td Đã thanh toán
								td 24/10/1999
							tr
								th(scope="row") 24/10/1999
								td.text-left Đất nền Gold Hill
								td 45.000.000 đ
								td Đã thanh toán
								td 24/10/1999
							tr
								th(scope="row") 24/10/1999
								td.text-left Đất nền Gold Hill
								td 45.000.000 đ
								td Đã thanh toán
								td 24/10/1999