section.canhcam-blog-1
	.container
		h1.antuong-title.upcase.mb-4.mb-lg-5 blog
		.row
			.col-lg-4
				a.item(href="#")
					figure
						.boxzoom
							img.img-fluid.w-100(src="./img/antuong/project/project_1.png", alt="")
						figcaption
							.time 24/10/1999
							h5 Nhà đất phía tây bắt đầu nóng trở lại
							p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis eos tempore, quae rem ducimus minima, dolor ad cumque commodi nisi repellat excepturi, repudiandae nesciunt molestias sapiente! Nulla aperiam voluptate reiciendis.
			.col-lg-4
				a.item(href="#")
					figure
						.boxzoom
							img.img-fluid.w-100(src="./img/antuong/project/project_1.png", alt="")
						figcaption
							.time 24/10/1999
							h5 Nhà đất phía tây bắt đầu nóng trở lại
							p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis eos tempore, quae rem ducimus minima, dolor ad cumque commodi nisi repellat excepturi, repudiandae nesciunt molestias sapiente! Nulla aperiam voluptate reiciendis.
			.col-lg-4
				a.item(href="#")
					figure
						.boxzoom
							img.img-fluid.w-100(src="./img/antuong/project/project_1.png", alt="")
						figcaption
							.time 24/10/1999
							h5 Nhà đất phía tây bắt đầu nóng trở lại
							p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis eos tempore, quae rem ducimus minima, dolor ad cumque commodi nisi repellat excepturi, repudiandae nesciunt molestias sapiente! Nulla aperiam voluptate reiciendis.
		.row.mt-lg-30p
			.col-lg-4
				a.item(href="#")
					figure
						.boxzoom
							img.img-fluid.w-100(src="./img/antuong/project/project_1.png", alt="")
						figcaption
							.time 24/10/1999
							h5 Nhà đất phía tây bắt đầu nóng trở lại
							p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis eos tempore, quae rem ducimus minima, dolor ad cumque commodi nisi repellat excepturi, repudiandae nesciunt molestias sapiente! Nulla aperiam voluptate reiciendis.
			.col-lg-4
				a.item(href="#")
					figure
						.boxzoom
							img.img-fluid.w-100(src="./img/antuong/project/project_1.png", alt="")
						figcaption
							.time 24/10/1999
							h5 Nhà đất phía tây bắt đầu nóng trở lại
							p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis eos tempore, quae rem ducimus minima, dolor ad cumque commodi nisi repellat excepturi, repudiandae nesciunt molestias sapiente! Nulla aperiam voluptate reiciendis.
			.col-lg-4
				a.item(href="#")
					figure
						.boxzoom
							img.img-fluid.w-100(src="./img/antuong/project/project_1.png", alt="")
						figcaption
							.time 24/10/1999
							h5 Nhà đất phía tây bắt đầu nóng trở lại
							p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis eos tempore, quae rem ducimus minima, dolor ad cumque commodi nisi repellat excepturi, repudiandae nesciunt molestias sapiente! Nulla aperiam voluptate reiciendis.