section.canhcam-project-2
	.container
		.row
			.col-lg-4.col-md-6
				a.item(href="#")
					figure
						.boxzoom
							img.img-fluid.w-100(src="./img/antuong/project/project_1.png", alt="")
						figcaption
							h5 Southgate Tower
							p Địa chỉ: Quận 7, Hồ Chí Minh
							p Giá: 
								span 35 triệu - 36 triệu/m2
						.status.d-flex
							p Đang thi công
							span Xem thêm
								em.lnr.lnr-arrow-right.ml-3
			.col-lg-4.col-md-6
				a.item(href="#")
					figure
						.boxzoom
							img.img-fluid.w-100(src="./img/antuong/project/project_1.png", alt="")
						figcaption
							h5 Southgate Tower
							p Địa chỉ: Quận 7, Hồ Chí Minh
							p Giá: 
								span 35 triệu - 36 triệu/m2
						.status.d-flex
							p Đang thi công
							span Xem thêm
								em.lnr.lnr-arrow-right.ml-3
			.col-lg-4.col-md-6
				a.item(href="#")
					figure
						.boxzoom
							img.img-fluid.w-100(src="./img/antuong/project/project_1.png", alt="")
						figcaption
							h5 Southgate Tower
							p Địa chỉ: Quận 7, Hồ Chí Minh
							p Giá: 
								span 35 triệu - 36 triệu/m2
						.status.d-flex
							p Đang thi công
							span Xem thêm
								em.lnr.lnr-arrow-right.ml-3
			.col-lg-4.col-md-6
				a.item(href="#")
					figure
						.boxzoom
							img.img-fluid.w-100(src="./img/antuong/project/project_1.png", alt="")
						figcaption
							h5 Southgate Tower
							p Địa chỉ: Quận 7, Hồ Chí Minh
							p Giá: 
								span 35 triệu - 36 triệu/m2
						.status.d-flex
							p Đang thi công
							span Xem thêm
								em.lnr.lnr-arrow-right.ml-3
			.col-lg-4.col-md-6
				a.item(href="#")
					figure
						.boxzoom
							img.img-fluid.w-100(src="./img/antuong/project/project_1.png", alt="")
						figcaption
							h5 Southgate Tower
							p Địa chỉ: Quận 7, Hồ Chí Minh
							p Giá: 
								span 35 triệu - 36 triệu/m2
						.status.d-flex
							p Đang thi công
							span Xem thêm
								em.lnr.lnr-arrow-right.ml-3
			.col-lg-4.col-md-6
				a.item(href="#")
					figure
						.boxzoom
							img.img-fluid.w-100(src="./img/antuong/project/project_1.png", alt="")
						figcaption
							h5 Southgate Tower
							p Địa chỉ: Quận 7, Hồ Chí Minh
							p Giá: 
								span 35 triệu - 36 triệu/m2
						.status.d-flex
							p Đang thi công
							span Xem thêm
								em.lnr.lnr-arrow-right.ml-3