section.canhcam-project-detail-3(bg-img='./img/antuong/project_detail/detail_bg.png')#canhcam-detail-section-3
	.container
		h1.antuong-title.upcase.mb-3 Mặt bằng
		.row
			.col
				ul#ccTabs2.nav.nav-tabs(role="tablist").justify-content-center
					li.nav-item
						a#cct-01-tab.nav-link.active(data-toggle="tab" href="#cct-01" role="tab" aria-controls="cct-01" aria-selected="true") Mặt bằng tổng thể
					li.nav-item
						a#cct-02-tab.nav-link(data-toggle="tab" href="#cct-02" role="tab" aria-controls="cct-02" aria-selected="false") Mặt bằng tầng
					li.nav-item
						a#cct-03-tab.nav-link(data-toggle="tab" href="#cct-03" role="tab" aria-controls="cct-03" aria-selected="false") Mặt bằng căn hộ
				#ccTabs2Content.tab-content
					#cct-01.tab-pane.fade.show.active(role="tabpanel" aria-labelledby="cct-01-tab")
						img.img-fluid.w-100(src="./img/antuong/project_detail/detail_3.png", alt="")
					#cct-02.tab-pane.fade(role="tabpanel" aria-labelledby="cct-02-tab")
						img.img-fluid.w-100(src="./img/antuong/project_detail/detail_3.png", alt="")
					#cct-03.tab-pane.fade(role="tabpanel" aria-labelledby="cct-03-tab")
						img.img-fluid.w-100(src="./img/antuong/project_detail/detail_3.png", alt="")