section.canhcam-about-2#canhcam-about-section-2(bg-img='./img/antuong/about/about_bg_2.png')
	.container
		h1.antuong-title.white.upcase.mb-5 tầm nhìn - sứ mệnh - giá trị cốt lõi
		.row
			.col-lg-4
				a.item(href="#")
					figure
						.boxzoom
							img.img-fluid.w-100(src="./img/antuong/about/about_2.png", alt="")
						figcaption
							h5 tầm nhìn
							ul.content
								li Trở thành nhà phân phối và phát triển dự án hàng đầu tại Việt Nam
			.col-lg-4
				a.item(href="#")
					figure
						.boxzoom
							img.img-fluid.w-100(src="./img/antuong/about/about_2.png", alt="")
						figcaption
							h5 Sứ mệnh
							ul.content
								li Trở thành nhà phân phối và phát triển dự án hàng đầu tại Việt Nam
								li Trở thành nhà phân phối và phát triển dự án hàng đầu tại Việt Nam
								li Trở thành nhà phân phối và phát triển dự án hàng đầu tại Việt Nam
			.col-lg-4
				a.item(href="#")
					figure
						.boxzoom
							img.img-fluid.w-100(src="./img/antuong/about/about_2.png", alt="")
						figcaption
							h5 triết lí kinh doanh
							ul.content
								li Trở thành nhà phân phối và phát triển dự án hàng đầu tại Việt Nam