section.canhcam-project-1
	.container
		h1.antuong-title Dự án
		.select
			select.sl-city
				option Tỉnh/ Thành phố
				option Đồng Nai
				option Sài Gòn
			select.sl-district
				option Quận/ huyện
				option Quận 1
				option Quận 2
			a.btn.btn-search(href='#') Tìm Ngay