section.canhcam-project-detail-7(bg-img='./img/antuong/project_detail/detail_bg.png')#canhcam-detail-section-7
	.container
		.img-gallery
			h1.antuong-title.white.upcase.mb-4.mb-lg-5 Hình ảnh
			.row
				.col-lg-3.col-md-6
					.item(data-src="./img/antuong/project_detail/detail_8.png")
						figure(bg-img="./img/antuong/project_detail/detail_8.png")
							a(href="./img/antuong/project_detail/detail_8.png")
								img.img-fluid.w-100(src="./img/antuong/project_detail/detail_8.png", alt="alt")
				.col-lg-3.col-md-6
					.item(data-src="./img/antuong/project_detail/detail_8.png")
						figure(bg-img="./img/antuong/project_detail/detail_8.png")
							a(href="./img/antuong/project_detail/detail_8.png")
								img.img-fluid.w-100(src="./img/antuong/project_detail/detail_8.png", alt="alt")
				.col-lg-3.col-md-6
					.item(data-src="./img/antuong/project_detail/detail_8.png")
						figure(bg-img="./img/antuong/project_detail/detail_8.png")
							a(href="./img/antuong/project_detail/detail_8.png")
								img.img-fluid.w-100(src="./img/antuong/project_detail/detail_8.png", alt="alt")
				.col-lg-3.col-md-6
					.item(data-src="./img/antuong/project_detail/detail_8.png")
						figure(bg-img="./img/antuong/project_detail/detail_8.png")
							a(href="./img/antuong/project_detail/detail_8.png")
								img.img-fluid.w-100(src="./img/antuong/project_detail/detail_8.png", alt="alt")
			.row.mt-lg-30p.mt-0
				.col-lg-3.col-md-6
					.item(data-src="./img/antuong/project_detail/detail_8.png")
						figure(bg-img="./img/antuong/project_detail/detail_8.png")
							a(href="./img/antuong/project_detail/detail_8.png")
								img.img-fluid.w-100(src="./img/antuong/project_detail/detail_8.png", alt="alt")
				.col-lg-3.col-md-6
					.item(data-src="./img/antuong/project_detail/detail_8.png")
						figure(bg-img="./img/antuong/project_detail/detail_8.png")
							a(href="./img/antuong/project_detail/detail_8.png")
								img.img-fluid.w-100(src="./img/antuong/project_detail/detail_8.png", alt="alt")
				.col-lg-3.col-md-6
					.item(data-src="./img/antuong/project_detail/detail_8.png")
						figure(bg-img="./img/antuong/project_detail/detail_8.png")
							a(href="./img/antuong/project_detail/detail_8.png")
								img.img-fluid.w-100(src="./img/antuong/project_detail/detail_8.png", alt="alt")
				.col-lg-3.col-md-6
					.item(data-src="./img/antuong/project_detail/detail_8.png")
						figure(bg-img="./img/antuong/project_detail/detail_8.png")
							a(href="./img/antuong/project_detail/detail_8.png")
								img.img-fluid.w-100(src="./img/antuong/project_detail/detail_8.png", alt="alt")
		.vid-gallery#canhcam-detail-section-8
			h1.antuong-title.white.upcase.mb-4.mb-lg-5 Video
			.row
				.col-12
					a.justify-content-center.item(href="https://www.youtube.com/watch?v=3oU4fGSMGcI&t=0s&list=PLsd7C5Bpj3ZHCYMQgtW9AOh-nWuFuo1Ao&index=1", data-poster="./img/antuong/project_detail/detail_9.png",  data-sub-html="<h4>Giới thiệu Đời Photo</h4>")
						figure
							.boxzoom
								.zoom-item
									img.img-fluid(src="./img/antuong/project_detail/play.png", alt="Demo title")
								img.img-fluid(src="./img/antuong/project_detail/detail_9.png", alt="Demo title")