section.canhcam-backet-1
	.container
		.row
			.col-lg-3
				include ../../nav/n-8/backet.pug
			.col-lg-9
				.info.mt-5.mt-lg-0
					h1.antuong-title.upcase.text-center.main.mb-4 Giỏ hàng
					ul.nav.nav-tabs
						li.active
							a(data-toggle='tab', href='#home') Đề xuất cho bạn
						li
							a(data-toggle='tab', href='#menu1') Top Campaign
						li
							a(data-toggle='tab', href='#menu2') New Campaign
					.tab-content
						#home.tab-pane.fade.show.active
							.row.no-gutters
								.col-md-6.col-lg-4
									.item
										figure
											.img
												img.img-fluid.w-100(src="./img/antuong/project/project_1.png", alt="")
											figcaption
												h5 Southgate Tower
												p Địa chỉ: Quận 7, Hồ Chí Minh
												p Giá: 
													span 35 triệu - 36 triệu/m2
												p.bonus
													| Hoa hồng: 2%
												a.btn-default.text-uppercase(href="#login-form" rel="modal:open")
													i.mdi.mdi-map-marker
													| Đặt chỗ
												
								.col-md-6.col-lg-4
									.item
										figure
											.img
												img.img-fluid.w-100(src="./img/antuong/project/project_1.png", alt="")
											figcaption
												h5 Southgate Tower
												p Địa chỉ: Quận 7, Hồ Chí Minh
												p Giá: 
													span 35 triệu - 36 triệu/m2
												p.bonus
													| Hoa hồng: 2%
												a.btn-default.text-uppercase(href="#login-form" rel="modal:open")
													i.mdi.mdi-map-marker
													| Đặt chỗ
								.col-md-6.col-lg-4
									.item
										figure
											.img
												img.img-fluid.w-100(src="./img/antuong/project/project_1.png", alt="")
											figcaption
												h5 Southgate Tower
												p Địa chỉ: Quận 7, Hồ Chí Minh
												p Giá: 
													span 35 triệu - 36 triệu/m2
												p.bonus
													| Hoa hồng: 2%
												a.btn-default.text-uppercase(href="#login-form" rel="modal:open")
													i.mdi.mdi-map-marker
													| Đặt chỗ
								.col-md-6.col-lg-4
									.item
										figure
											.img
												img.img-fluid.w-100(src="./img/antuong/project/project_1.png", alt="")
											figcaption
												h5 Southgate Tower
												p Địa chỉ: Quận 7, Hồ Chí Minh
												p Giá: 
													span 35 triệu - 36 triệu/m2
												p.bonus
													| Hoa hồng: 2%
												a.btn-default.text-uppercase(href="#login-form" rel="modal:open")
													i.mdi.mdi-map-marker
													| Đặt chỗ
								.col-md-6.col-lg-4
									.item
										figure
											.img
												img.img-fluid.w-100(src="./img/antuong/project/project_1.png", alt="")
											figcaption
												h5 Southgate Tower
												p Địa chỉ: Quận 7, Hồ Chí Minh
												p Giá: 
													span 35 triệu - 36 triệu/m2
												p.bonus
													| Hoa hồng: 2%
												a.btn-default.text-uppercase(href="#login-form" rel="modal:open")
													i.mdi.mdi-map-marker
													| Đặt chỗ
								.col-md-6.col-lg-4
									.item
										figure
											.img
												img.img-fluid.w-100(src="./img/antuong/project/project_1.png", alt="")
											figcaption
												h5 Southgate Tower
												p Địa chỉ: Quận 7, Hồ Chí Minh
												p Giá: 
													span 35 triệu - 36 triệu/m2
												p.bonus
													| Hoa hồng: 2%
												a.btn-default.text-uppercase(href="#login-form" rel="modal:open")
													i.mdi.mdi-map-marker
													| Đặt chỗ
						#menu1.tab-pane.fade
							h3 Menu 1
							p Some content in menu 1.
						#menu2.tab-pane.fade
							h3 Menu 2
							p Some content in menu 2.
					ul.nav.nav-tabs.tab-2
						li.active
							a(data-toggle='tab', href='#tab-1') Dự án cho thuê
						li
							a(data-toggle='tab', href='#tab-2') Nhà bán
						li
							a(data-toggle='tab', href='#tab-3') Nhà cho thuê
					.tab-content
						#tab-1.tab-pane.fade.show.active
							.row.no-gutters
								.col-md-6.col-lg-4
									.item
										figure
											.img
												img.img-fluid.w-100(src="./img/antuong/project/project_1.png", alt="")
											figcaption
												h5 Southgate Tower
												p Địa chỉ: Quận 7, Hồ Chí Minh
												p Giá: 
													span 35 triệu - 36 triệu/m2
												p.bonus
													| Hoa hồng: 2%
												a.btn-default.text-uppercase(href="#login-form" rel="modal:open")
													i.mdi.mdi-map-marker
													| Đặt chỗ
								.col-md-6.col-lg-4
									.item
										figure
											.img
												img.img-fluid.w-100(src="./img/antuong/project/project_1.png", alt="")
											figcaption
												h5 Southgate Tower
												p Địa chỉ: Quận 7, Hồ Chí Minh
												p Giá: 
													span 35 triệu - 36 triệu/m2
												p.bonus
													| Hoa hồng: 2%
												a.btn-default.text-uppercase(href="#login-form" rel="modal:open")
													i.mdi.mdi-map-marker
													| Đặt chỗ
								.col-md-6.col-lg-4
									.item
										figure
											.img
												img.img-fluid.w-100(src="./img/antuong/project/project_1.png", alt="")
											figcaption
												h5 Southgate Tower
												p Địa chỉ: Quận 7, Hồ Chí Minh
												p Giá: 
													span 35 triệu - 36 triệu/m2
												p.bonus
													| Hoa hồng: 2%
												a.btn-default.text-uppercase(href="#login-form" rel="modal:open")
													i.mdi.mdi-map-marker
													| Đặt chỗ
								.col-md-6.col-lg-4
									.item
										figure
											.img
												img.img-fluid.w-100(src="./img/antuong/project/project_1.png", alt="")
											figcaption
												h5 Southgate Tower
												p Địa chỉ: Quận 7, Hồ Chí Minh
												p Giá: 
													span 35 triệu - 36 triệu/m2
												p.bonus
													| Hoa hồng: 2%
												a.btn-default.text-uppercase(href="#login-form" rel="modal:open")
													i.mdi.mdi-map-marker
													| Đặt chỗ
								.col-md-6.col-lg-4
									.item
										figure
											.img
												img.img-fluid.w-100(src="./img/antuong/project/project_1.png", alt="")
											figcaption
												h5 Southgate Tower
												p Địa chỉ: Quận 7, Hồ Chí Minh
												p Giá: 
													span 35 triệu - 36 triệu/m2
												p.bonus
													| Hoa hồng: 2%
												a.btn-default.text-uppercase(href="#login-form" rel="modal:open")
													i.mdi.mdi-map-marker
													| Đặt chỗ
								.col-md-6.col-lg-4
									.item
										figure
											.img
												img.img-fluid.w-100(src="./img/antuong/project/project_1.png", alt="")
											figcaption
												h5 Southgate Tower
												p Địa chỉ: Quận 7, Hồ Chí Minh
												p Giá: 
													span 35 triệu - 36 triệu/m2
												p.bonus
													| Hoa hồng: 2%
												a.btn-default.text-uppercase(href="#login-form" rel="modal:open")
													i.mdi.mdi-map-marker
													| Đặt chỗ
						#tab-2.tab-pane.fade
							h3 Menu 1
							p Some content in menu 1.
						#tab-3.tab-pane.fade
							h3 Menu 2
							p Some content in menu 2.
#login-form.modal.scrollbar.scrollbar-primary
	a.close(href="#close-modal" rel='modal:close')
		em.mdi.mdi-window-close
	.modal-body
		.modal-info.d-md-flex
			.img
				img.w-100(src="./img/antuong/project/project_1.png", alt="")
			.detail
				h4 La Cosmo
				p
					em.mdi.mdi-map-marker.mr-3
					| Địa chỉ: Quận Tân Bình, Hồ Chí Minh
				p.prince
					em.mdi.mdi-cash-usd.mr-3
					| 45 triệu - 50 triệu/m2
				p
					em.mdi.mdi-wallet.mr-3
					| Hoa hồng cho CTV trực tiếp: 5%
					br
					| Hoa hồng cho CTV gián tiếp: 8%
				p
					em.mdi.mdi-marker-check.mr-3
					| Sản phẩm đang được 3 người giữ chỗ
				p
					em.mdi.mdi-account.mr-3
					| Bạn muốn làm CTV
		.button-wrap
			a(href="#").btn.btn-ctv
				img(src="./img/antuong/backet/icon_1.png", alt="").mr-3
				| Trực tiếp
			a(href="#").btn.btn-ctv
				img(src="./img/antuong/backet/icon_2.png", alt="").mr-3
				| Giao tiếp
		.modal-table
			h5.small-title.mb-4 Chọn căn hộ
			table.table-responsive.table-bordered
				thead
					tr
						th(style='width: 8%') Căn hộ
						th 1
						th 2
						th 3
						th 4
						th 5
						th 6
						th 7
						th 8
						th 9
						th 10
				tbody
					tr
						th 1
						th
							.box
								p.mb-0.code 01C303
								.info
									em.mr-2.fas.fa-utensils
									| 3
								.info
									em.mr-2.fas.fa-utensils
									| 2
						th
							.box
								p.mb-0.code 01C303
								.info
									em.mr-2.fas.fa-utensils
									| 3
								.info
									em.mr-2.fas.fa-utensils
									| 2
						th
							.box
								p.mb-0.code 01C303
								.info
									em.mr-2.fas.fa-utensils
									| 3
								.info
									em.mr-2.fas.fa-utensils
									| 2
						th
							.box
								p.mb-0.code 01C303
								.info
									em.mr-2.fas.fa-utensils
									| 3
								.info
									em.mr-2.fas.fa-utensils
									| 2
						th
							.box
								p.mb-0.code 01C303
								.info
									em.mr-2.fas.fa-utensils
									| 3
								.info
									em.mr-2.fas.fa-utensils
									| 2
						th
							.box
								p.mb-0.code 01C303
								.info
									em.mr-2.fas.fa-utensils
									| 3
								.info
									em.mr-2.fas.fa-utensils
									| 2
						th
							.box
								p.mb-0.code 01C303
								.info
									em.mr-2.fas.fa-utensils
									| 3
								.info
									em.mr-2.fas.fa-utensils
									| 2
						th
							.box
								p.mb-0.code 01C303
								.info
									em.mr-2.fas.fa-utensils
									| 3
								.info
									em.mr-2.fas.fa-utensils
									| 2
						th
							.box
								p.mb-0.code 01C303
								.info
									em.mr-2.fas.fa-utensils
									| 3
								.info
									em.mr-2.fas.fa-utensils
									| 2
						th
							.box
								p.mb-0.code 01C303
								.info
									em.mr-2.fas.fa-utensils
									| 3
								.info
									em.mr-2.fas.fa-utensils
									| 2
					tr
						th 2
						th
							.box
								p.mb-0.code 01C303
								.info
									em.mr-2.fas.fa-utensils
									| 3
								.info
									em.mr-2.fas.fa-utensils
									| 2
						th
							.box
								p.mb-0.code 01C303
								.info
									em.mr-2.fas.fa-utensils
									| 3
								.info
									em.mr-2.fas.fa-utensils
									| 2
						th
							.box
								p.mb-0.code 01C303
								.info
									em.mr-2.fas.fa-utensils
									| 3
								.info
									em.mr-2.fas.fa-utensils
									| 2
						th
							.box
								p.mb-0.code 01C303
								.info
									em.mr-2.fas.fa-utensils
									| 3
								.info
									em.mr-2.fas.fa-utensils
									| 2
						th
							.box
								p.mb-0.code 01C303
								.info
									em.mr-2.fas.fa-utensils
									| 3
								.info
									em.mr-2.fas.fa-utensils
									| 2
						th
							.box
								p.mb-0.code 01C303
								.info
									em.mr-2.fas.fa-utensils
									| 3
								.info
									em.mr-2.fas.fa-utensils
									| 2
						th
							.box
								p.mb-0.code 01C303
								.info
									em.mr-2.fas.fa-utensils
									| 3
								.info
									em.mr-2.fas.fa-utensils
									| 2
						th
							.box
								p.mb-0.code 01C303
								.info
									em.mr-2.fas.fa-utensils
									| 3
								.info
									em.mr-2.fas.fa-utensils
									| 2
						th
							.box
								p.mb-0.code 01C303
								.info
									em.mr-2.fas.fa-utensils
									| 3
								.info
									em.mr-2.fas.fa-utensils
									| 2
						th
							.box
								p.mb-0.code 01C303
								.info
									em.mr-2.fas.fa-utensils
									| 3
								.info
									em.mr-2.fas.fa-utensils
									| 2
					tr
						th 3
						th
							.box
								p.mb-0.code 01C303
								.info
									em.mr-2.fas.fa-utensils
									| 3
								.info
									em.mr-2.fas.fa-utensils
									| 2
						th
							.box
								p.mb-0.code 01C303
								.info
									em.mr-2.fas.fa-utensils
									| 3
								.info
									em.mr-2.fas.fa-utensils
									| 2
						th
							.box
								p.mb-0.code 01C303
								.info
									em.mr-2.fas.fa-utensils
									| 3
								.info
									em.mr-2.fas.fa-utensils
									| 2
						th
							.box
								p.mb-0.code 01C303
								.info
									em.mr-2.fas.fa-utensils
									| 3
								.info
									em.mr-2.fas.fa-utensils
									| 2
						th
							.box
								p.mb-0.code 01C303
								.info
									em.mr-2.fas.fa-utensils
									| 3
								.info
									em.mr-2.fas.fa-utensils
									| 2
						th
							.box
								p.mb-0.code 01C303
								.info
									em.mr-2.fas.fa-utensils
									| 3
								.info
									em.mr-2.fas.fa-utensils
									| 2
						th
							.box
								p.mb-0.code 01C303
								.info
									em.mr-2.fas.fa-utensils
									| 3
								.info
									em.mr-2.fas.fa-utensils
									| 2
						th
							.box
								p.mb-0.code 01C303
								.info
									em.mr-2.fas.fa-utensils
									| 3
								.info
									em.mr-2.fas.fa-utensils
									| 2
						th
							.box
								p.mb-0.code 01C303
								.info
									em.mr-2.fas.fa-utensils
									| 3
								.info
									em.mr-2.fas.fa-utensils
									| 2
						th
							.box
								p.mb-0.code 01C303
								.info
									em.mr-2.fas.fa-utensils
									| 3
								.info
									em.mr-2.fas.fa-utensils
									| 2
					tr
						th 4
						th
							.box
								p.mb-0.code 01C303
								.info
									em.mr-2.fas.fa-utensils
									| 3
								.info
									em.mr-2.fas.fa-utensils
									| 2
						th
							.box
								p.mb-0.code 01C303
								.info
									em.mr-2.fas.fa-utensils
									| 3
								.info
									em.mr-2.fas.fa-utensils
									| 2
						th
							.box
								p.mb-0.code 01C303
								.info
									em.mr-2.fas.fa-utensils
									| 3
								.info
									em.mr-2.fas.fa-utensils
									| 2
						th
							.box
								p.mb-0.code 01C303
								.info
									em.mr-2.fas.fa-utensils
									| 3
								.info
									em.mr-2.fas.fa-utensils
									| 2
						th
							.box
								p.mb-0.code 01C303
								.info
									em.mr-2.fas.fa-utensils
									| 3
								.info
									em.mr-2.fas.fa-utensils
									| 2
						th
							.box
								p.mb-0.code 01C303
								.info
									em.mr-2.fas.fa-utensils
									| 3
								.info
									em.mr-2.fas.fa-utensils
									| 2
						th
							.box
								p.mb-0.code 01C303
								.info
									em.mr-2.fas.fa-utensils
									| 3
								.info
									em.mr-2.fas.fa-utensils
									| 2
						th
							.box
								p.mb-0.code 01C303
								.info
									em.mr-2.fas.fa-utensils
									| 3
								.info
									em.mr-2.fas.fa-utensils
									| 2
						th
							.box
								p.mb-0.code 01C303
								.info
									em.mr-2.fas.fa-utensils
									| 3
								.info
									em.mr-2.fas.fa-utensils
									| 2
						th
							.box
								p.mb-0.code 01C303
								.info
									em.mr-2.fas.fa-utensils
									| 3
								.info
									em.mr-2.fas.fa-utensils
									| 2
					tr
						th 5
						th
							.box
								p.mb-0.code 01C303
								.info
									em.mr-2.fas.fa-utensils
									| 3
								.info
									em.mr-2.fas.fa-utensils
									| 2
						th
							.box
								p.mb-0.code 01C303
								.info
									em.mr-2.fas.fa-utensils
									| 3
								.info
									em.mr-2.fas.fa-utensils
									| 2
						th
							.box
								p.mb-0.code 01C303
								.info
									em.mr-2.fas.fa-utensils
									| 3
								.info
									em.mr-2.fas.fa-utensils
									| 2
						th
							.box
								p.mb-0.code 01C303
								.info
									em.mr-2.fas.fa-utensils
									| 3
								.info
									em.mr-2.fas.fa-utensils
									| 2
						th
							.box
								p.mb-0.code 01C303
								.info
									em.mr-2.fas.fa-utensils
									| 3
								.info
									em.mr-2.fas.fa-utensils
									| 2
						th
							.box
								p.mb-0.code 01C303
								.info
									em.mr-2.fas.fa-utensils
									| 3
								.info
									em.mr-2.fas.fa-utensils
									| 2
						th
							.box
								p.mb-0.code 01C303
								.info
									em.mr-2.fas.fa-utensils
									| 3
								.info
									em.mr-2.fas.fa-utensils
									| 2
						th
							.box
								p.mb-0.code 01C303
								.info
									em.mr-2.fas.fa-utensils
									| 3
								.info
									em.mr-2.fas.fa-utensils
									| 2
						th
							.box
								p.mb-0.code 01C303
								.info
									em.mr-2.fas.fa-utensils
									| 3
								.info
									em.mr-2.fas.fa-utensils
									| 2
						th
							.box
								p.mb-0.code 01C303
								.info
									em.mr-2.fas.fa-utensils
									| 3
								.info
									em.mr-2.fas.fa-utensils
									| 2
		.modal-form
			h5.small-title Thông tin khách hàng cần mua sản phẩm
			.form
				.form-group.d-md-flex.justify-content-between.align-item-center
					label Tên đăng nhập
					input.form-control(type='text')
				.form-group.d-md-flex.justify-content-between.align-item-center
					label Email
					input.form-control(type='text')
				.form-group.d-md-flex.justify-content-between.align-item-center
					label Số điện thoại *
					input.form-control(type='text')
				.form-group.d-md-flex.justify-content-between.align-item-center
					label Ghi chú
					textarea.form-control
				.form-group.d-md-flex.justify-content-between.align-item-center
					label Mã xác nhận
				.form-group.text-center
					button.form-control.text-uppercase(type='submit').w-auto.mx-auto Gửi thông tin
