section.canhcam-backet-1
	.container
		.row
			.col-lg-3
				include ../../nav/n-8/backet.pug
			.col-lg-9
				.info.mt-5.mt-lg-0
					h1.antuong-title.upcase.text-center.main.mb-4 Giỏ hàng
					.row.no-gutters
						.col-md-6.col-lg-4
							a.item(href="#")
								figure
									.boxzoom
										img.img-fluid.w-100(src="./img/antuong/project/project_1.png", alt="")
									figcaption
										h5 Southgate Tower
										p Địa chỉ: Quận 7, Hồ Chí Minh
										p Giá: 
											span 35 triệu - 36 triệu/m2
									.status.d-flex
										p Đang thi công
										span Xem thêm
											em.lnr.lnr-arrow-right.ml-3
						.col-md-6.col-lg-4
							a.item(href="#")
								figure
									.boxzoom
										img.img-fluid.w-100(src="./img/antuong/project/project_1.png", alt="")
									figcaption
										h5 Southgate Tower
										p Địa chỉ: Quận 7, Hồ Chí Minh
										p Giá: 
											span 35 triệu - 36 triệu/m2
									.status.d-flex
										.detail.d-flex
											p
												em.mr-2.fas.fa-expand-arrows-alt
												| 90m
												sup 2
											p
												em.mr-2.fas.fa-bed
												| 2
											p
												em.mr-2.fas.fa-bath
												| 2
										span Xem thêm
											em.lnr.lnr-arrow-right.ml-2
						.col-md-6.col-lg-4
							a.item(href="#")
								figure
									.boxzoom
										img.img-fluid.w-100(src="./img/antuong/project/project_1.png", alt="")
									figcaption
										h5 Southgate Tower
										p Địa chỉ: Quận 7, Hồ Chí Minh
										p Giá: 
											span 35 triệu - 36 triệu/m2
									.status.d-flex
										.detail.d-flex
											p
												em.mr-2.fas.fa-expand-arrows-alt
												| 90m
												sup 2
											p
												em.mr-2.fas.fa-bed
												| 2
											p
												em.mr-2.fas.fa-bath
												| 2
										span Xem thêm
											em.lnr.lnr-arrow-right.ml-2
						.col-md-6.col-lg-4
							a.item(href="#")
								figure
									.boxzoom
										img.img-fluid.w-100(src="./img/antuong/project/project_1.png", alt="")
									figcaption
										h5 Southgate Tower
										p Địa chỉ: Quận 7, Hồ Chí Minh
										p Giá: 
											span 35 triệu - 36 triệu/m2
									.status.d-flex
										.detail.d-flex
											p
												em.mr-2.fas.fa-expand-arrows-alt
												| 90m
												sup 2
											p
												em.mr-2.fas.fa-bed
												| 2
											p
												em.mr-2.fas.fa-bath
												| 2
										span Xem thêm
											em.lnr.lnr-arrow-right.ml-2
						.col-md-6.col-lg-4
							a.item(href="#")
								figure
									.boxzoom
										img.img-fluid.w-100(src="./img/antuong/project/project_1.png", alt="")
									figcaption
										h5 Southgate Tower
										p Địa chỉ: Quận 7, Hồ Chí Minh
										p Giá: 
											span 35 triệu - 36 triệu/m2
									.status.d-flex
										.detail.d-flex
											p
												em.mr-2.fas.fa-expand-arrows-alt
												| 90m
												sup 2
											p
												em.mr-2.fas.fa-bed
												| 2
											p
												em.mr-2.fas.fa-bath
												| 2
										span Xem thêm
											em.lnr.lnr-arrow-right.ml-2
						.col-md-6.col-lg-4
							a.item(href="#")
								figure
									.boxzoom
										img.img-fluid.w-100(src="./img/antuong/project/project_1.png", alt="")
									figcaption
										h5 Southgate Tower
										p Địa chỉ: Quận 7, Hồ Chí Minh
										p Giá: 
											span 35 triệu - 36 triệu/m2
									.status.d-flex
										.detail.d-flex
											p
												em.mr-2.fas.fa-expand-arrows-alt
												| 90m
												sup 2
											p
												em.mr-2.fas.fa-bed
												| 2
											p
												em.mr-2.fas.fa-bath
												| 2
										span Xem thêm
											em.lnr.lnr-arrow-right.ml-2