section.canhcam-project-detail-2
	.container
		h1.antuong-title.upcase.mb-5 vị trí
		.row
			.col-lg-6
				.content
					p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit aspernatur enim labore accusamus at, quam dolorum laudantium praesentium! Saepe doloremque earum consequuntur hic! Minima sint hic, commodi velit maxime animi. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum officia esse natus expedita perferendis ex deleniti nobis mollitia facere delectus quia ducimus, minus nostrum! Dolor laborum accusantium et maxime earum.
					ul
						li Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat velit et laboriosam perferendis, corrupti similique
						li Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat velit et laboriosam perferendis, corrupti similique
						li Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat velit et laboriosam perferendis, corrupti similique
			.col-lg-6.mt-4.mt-lg-0
				img.img-fluid.w-100(src="./img/antuong/project_detail/detail_2.png", alt="")
