section.canhcam-bonus-1(bg-img='./img/antuong/bg_2.png')
	.container
		.join.d-flex.justify-content-center
			.content
				h3 Bạn là cộng tác viên?
				p tăng doanh số bán hàng cùng an tường real
			.button.d-flex.mt-3.mt-md-0
				a.btn.btn-contact(href="#") tham gia ngay