section.canhcam-banner-1
	article.list-items
		.item(bg-img="./img/antuong/home/home_banner.png")
			.title
				h1.h1 Main title
				p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque tempora vel quas atque labore aliquid rem dicta inventore iste
		.item(bg-img="./img/antuong/home/home_banner.png")
			.title
				h1.h1 Main title
				p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque tempora vel quas atque labore aliquid rem dicta inventore iste
				p
					a.btn.btn-primary.btn-lg(href="#") Read more
