section.canhcam-introduce-1
	.container
		.row
			.col-lg-3
				include ../../nav/n-8/statistical.pug
			.col-lg-9
				.table-result.mt-5.mt-lg-0
					h1.antuong-title.upcase.mb-4.main Thành viên giới thiệu
					p.people Tổng số thành viên giới thiệu : 1
					table.table
						thead
							tr
								th(scope="col" width='7%') ID
								th Avatar
								th(width='20%') Họ và tên
								th Số điện thoại
								th(width='15%') Email
								th(width='15%') Ngày đăng ký
						tbody
							tr
								th(scope="row") 01
								td.text-left 
									img.img-fluid(src="./img/antuong/home/home_1.png", alt="")
								td Trương Đình Long
								td 01229636885
								td dinhlong@canhcam.vn
								td 24/10/1999
							tr
								th(scope="row") 01
								td.text-left
									img.img-fluid(src="./img/antuong/home/home_1.png", alt="")
								td Trương Đình Long
								td 01229636885
								td dinhlong@canhcam.vn
								td 24/10/1999
							tr
								th(scope="row") 01
								td.text-left
									img.img-fluid(src="./img/antuong/home/home_1.png", alt="")
								td Trương Đình Long
								td 01229636885
								td dinhlong@canhcam.vn
								td 24/10/1999
							tr
								th(scope="row") 01
								td.text-left
									img.img-fluid(src="./img/antuong/home/home_1.png", alt="")
								td Trương Đình Long
								td 01229636885
								td dinhlong@canhcam.vn
								td 24/10/1999
							tr
								th(scope="row") 01
								td.text-left
									img.img-fluid(src="./img/antuong/home/home_1.png", alt="")
								td Trương Đình Long
								td 01229636885
								td dinhlong@canhcam.vn
								td 24/10/1999
							tr
								th(scope="row") 01
								td.text-left
									img.img-fluid(src="./img/antuong/home/home_1.png", alt="")
								td Trương Đình Long
								td 01229636885
								td dinhlong@canhcam.vn
								td 24/10/1999