footer.canhcam-footer-1
	.linkfooter
		.container
			.partner
				.row
					.col-4.col-md-2
						img.img-fluid(src="./img/antuong/partner.png", alt="")
					.col-4.col-md-2
						img.img-fluid(src="./img/antuong/partner.png", alt="")
					.col-4.col-md-2
						img.img-fluid(src="./img/antuong/partner.png", alt="")
					.col-4.col-md-2
						img.img-fluid(src="./img/antuong/partner.png", alt="")
					.col-4.col-md-2
						img.img-fluid(src="./img/antuong/partner.png", alt="")
					.col-4.col-md-2
						img.img-fluid(src="./img/antuong/partner.png", alt="")
			.row.mt-2r
				.col-md-3.col-12.text-center.text-md-left
					h4 Giới thiệu
					nav.list-group
						.list-group-item
							a(href="#") Về chúng tôi
						.list-group-item
							a(href="#") Tầm nhìn & Sứ mệnh
						.list-group-item
							a(href="#") Hội đồng thành viên
						.list-group-item
							a(href="#") Cam kết hành động
				.col-md-3.col-12.text-center.text-md-left
					h4.mt-5.mt-md-0 Bán/ Cho thuê
					nav.list-group
						.list-group-item
							a(href="#") Nhà cung cấp
						.list-group-item
							a(href="#") Nhà phân phối
				.col-md-3.col-12.text-center.text-md-left
					h4.mt-5.mt-md-0 Blog
					nav.list-group
						.list-group-item
							a(href="#") Tin thị trường
						.list-group-item
							a(href="#") Affiliate Network
						.list-group-item
							a(href="#") Kiếm tiền Online
						.list-group-item
							a(href="#") Thông báo
				.col-md-3.col-12.text-center.text-md-left
					h4.mt-5.mt-md-0 Hỗ trợ
					nav.list-group
						.list-group-item
							a(href="#") Tin thị trường
						.list-group-item
							a(href="#") Affiliate Network
						.list-group-item
							a(href="#") Kiếm tiền Online
						.list-group-item
							a(href="#") Thông báo
