section.canhcam-sale-detail-1
	.container
		h1.antuong-title.text-left.mb-3 Nhà phố KDC Nam Phan
		.row
			.col-lg-8
				article.owl-carousel.owl-theme.list-items
					.item
						a(href='#')
							img(src='./img/antuong/sale/sale_1.png', alt='')
					.item
						a(href='#')
							img(src='./img/antuong/sale/sale_1.png', alt='')
					.item
						a(href='#')
							img(src='./img/antuong/sale/sale_1.png', alt='')
					.item
						a(href='#')
							img(src='./img/antuong/sale/sale_1.png', alt='')
					.item
						a(href='#')
							img(src='./img/antuong/sale/sale_1.png', alt='')
					.item
						a(href='#')
							img(src='./img/antuong/sale/sale_1.png', alt='')
					.item
						a(href='#')
							img(src='./img/antuong/sale/sale_1.png', alt='')
			.col-lg-4
				table.table-responsive.mt-4.mt-lg-0
					tr
						td.detail Địa chỉ
						td Nguyễn Văn Linh, Phường Phú Thuận, Quận 7, Hồ Chí Minh
					tr
						td.detail Diện tích đất
						td 192 m
							sup 2
					tr
						td.detail Diện tích sử dụng
						td 192 m
							sup 2
					tr
						td.detail Diện tích xây dựng
						td 192 m
							sup 2
					tr
						td.detail Giấy tờ
						td Sổ hồng chính chủ
					tr
						td.detail Thông tin
						td Nhà 01 trệt, 02 lầu, 01 Lửng
					tr
						td.detail Hướng nhà
						td Hướng Tây - Nam
					tr
						td.detail Số phòng ngủ
						td 3
					tr
						td.detail Số phòng tắm
						td 3
					tr
						td.detail Giá bán
						td 
							span 18 tỷ
					tr
						td
							a.btn.btn-contact(href="#").mt-2 Liên hệ ngay
