section.canhcam-suppport-1
	.container
		h1.antuong-title.upcase.mb-5 câu hỏi thường gặp
		.row
			.col-lg-4.order-lg-2
				.question
					h2.question-title.mb-4 Gửi câu hỏi
					form
						.form-group
							label(for='exampleInputName') Họ tên
							input#exampleInputEmail1.form-control(type='text')
						.form-group
							label(for='exampleInputEmail') Email
							input#exampleInputEmail1.form-control(type='text')
						.form-group
							label(for='exampleInputTitle') Tiêu đề
							input#exampleInputEmail1.form-control(type='text')
						.form-group
							label(for='exampleInputContent') Nội dung
							textarea#exampleInputEmail1.form-control(type='text')
						.form-group
							a(href="#").btn.btn-support.mt-4 Gửi thông tin
			.col-lg-8.order-lg-1
				.list-detail.mt-5.mt-lg-0
					.content
						h5 Làm sao để trở thành cộng tác viên chính thức của An Tường Real?
					.lead
						figure
							figcaption
								p Yêu cầu gửi CV vào địa chỉ mail: ctv@antuongreal.com
								p Tiêu đề mail: CTV BĐS
								p Hoặc nộp hồ sơ trực tiếp tại: Tòa nhà Charmington La Pointe - 181 Cao Thắng, P. 12, Q. 10, TP. HCM
								p Người lên hệ: Ms Thu - Điện thoại: 04 7309 5555 máy lẻ 41671
					.content
						h5 Làm sao để trở thành cộng tác viên chính thức của An Tường Real?
					.lead
						figure
							figcaption
								p Yêu cầu gửi CV vào địa chỉ mail: ctv@antuongreal.com
								p Tiêu đề mail: CTV BĐS
								p Hoặc nộp hồ sơ trực tiếp tại: Tòa nhà Charmington La Pointe - 181 Cao Thắng, P. 12, Q. 10, TP. HCM
								p Người lên hệ: Ms Thu - Điện thoại: 04 7309 5555 máy lẻ 41671
					.content
						h5 Làm sao để trở thành cộng tác viên chính thức của An Tường Real?
					.lead
						figure
							figcaption
								p Yêu cầu gửi CV vào địa chỉ mail: ctv@antuongreal.com
								p Tiêu đề mail: CTV BĐS
								p Hoặc nộp hồ sơ trực tiếp tại: Tòa nhà Charmington La Pointe - 181 Cao Thắng, P. 12, Q. 10, TP. HCM
								p Người lên hệ: Ms Thu - Điện thoại: 04 7309 5555 máy lẻ 41671
					.content
						h5 Làm sao để trở thành cộng tác viên chính thức của An Tường Real?
					.lead
						figure
							figcaption
								p Yêu cầu gửi CV vào địa chỉ mail: ctv@antuongreal.com
								p Tiêu đề mail: CTV BĐS
								p Hoặc nộp hồ sơ trực tiếp tại: Tòa nhà Charmington La Pointe - 181 Cao Thắng, P. 12, Q. 10, TP. HCM
								p Người lên hệ: Ms Thu - Điện thoại: 04 7309 5555 máy lẻ 41671
					.content
						h5 Làm sao để trở thành cộng tác viên chính thức của An Tường Real?
					.lead
						figure
							figcaption
								p Yêu cầu gửi CV vào địa chỉ mail: ctv@antuongreal.com
								p Tiêu đề mail: CTV BĐS
								p Hoặc nộp hồ sơ trực tiếp tại: Tòa nhà Charmington La Pointe - 181 Cao Thắng, P. 12, Q. 10, TP. HCM
								p Người lên hệ: Ms Thu - Điện thoại: 04 7309 5555 máy lẻ 41671
					.content
						h5 Làm sao để trở thành cộng tác viên chính thức của An Tường Real?
					.lead
						figure
							figcaption
								p Yêu cầu gửi CV vào địa chỉ mail: ctv@antuongreal.com
								p Tiêu đề mail: CTV BĐS
								p Hoặc nộp hồ sơ trực tiếp tại: Tòa nhà Charmington La Pointe - 181 Cao Thắng, P. 12, Q. 10, TP. HCM
								p Người lên hệ: Ms Thu - Điện thoại: 04 7309 5555 máy lẻ 41671
				.support-page
					.pagelist
						ul.pagination.justify-content-center
							li.page-item
								a.page-link(href="#", title="title") 1
							li.page-item.active
								a.page-link(href="#", title="title") 2
							li.page-item
								a.page-link(href="#", title="title") 3
							li.page-item
								a.page-link(href="#", title="title") 4

			