section.canhcam-nav-4
	article.nav-list
		.container
			nav
				ul
					li
						a.active(href="#canhcam-about-section-1") Thị trường
					li
						a(href="#canhcam-about-section-2") Affiliate Network
					li
						a(href="#canhcam-about-section-2") Kiếm tiền Online
					li
						a(href="#canhcam-about-section-2") Thông báo