extends _layout/layout.pug
block variables
	- var title = "about"
	- var description = "Description for about page"
	- var bodyclass = "about"
	- var href = "/about.html"
block header
	include ../lib/header/h-14/index.pug
block body
	include ../lib/breadcrumb/b-1/index.pug
	include ../lib/nav/n-1/index.pug
	include ../lib/about/a-1/index.pug
	include ../lib/about/a-2/index.pug
	include ../lib/about/a-3/index.pug
	include ../lib/about/a-4/index.pug
	include ../lib/bonus/b-1/index.pug
block footer
	include ../lib/footer/f-1/index.pug
	include ../lib/footer/f-7/index.pug
