extends _layout/layout.pug
block variables
	- var title = "blog-detail"
	- var description = "Description for blog-detail page"
	- var bodyclass = "blog-detail"
	- var href = "/blog-detail.html"
block body
	include ../lib/news-details/n-1/index.pug
