extends _layout/layout.pug
block variables
	- var title = "contact"
	- var description = "Description for contact page"
	- var bodyclass = "contact"
	- var href = "/contact.html"
block body
	include ../lib/form/f-1/index.pug
