extends _layout/layout.pug
block variables
	- var title = "pay"
	- var description = "Description for pay page"
	- var bodyclass = "pay"
	- var href = "/pay.html"
block body
	include ../lib/boxes/b-9/index.pug
