extends _layout/layout.pug
block variables
	- var title = "pay"
	- var description = "Description for pay page"
	- var bodyclass = "pay"
	- var href = "/pay.html"
block header
	include ../lib/header/h-14/index.pug
block body
	include ../lib/breadcrumb/b-1/index.pug
	include ../lib/nav/n-7/index.pug
	include ../lib/boxes/b-9/index.pug
	include ../lib/bonus/b-1/index.pug
block footer
	include ../lib/footer/f-1/index.pug
	include ../lib/footer/f-7/index.pug
