extends _layout/layout.pug
block variables
	- var title = "project-detail"
	- var description = "Description for project-detail page"
	- var bodyclass = "project-detail"
	- var href = "/project-detail.html"
block body
	include ../lib/breadcrumb/b-1/index.pug
	include ../lib/pagination/p-1/index.pug
