extends _layout/layout.pug
block variables
	- var title = "sale-detail"
	- var description = "Description for sale-detail page"
	- var bodyclass = "sale-detail"
	- var href = "/sale-detail.html"
block body
	include ../lib/tabs/t-2/index.pug
