extends _layout/layout.pug
block variables
	- var title = "history"
	- var description = "Description for history page"
	- var bodyclass = "history"
	- var href = "/history.html"
block header
	include ../lib/header/h-14/index.pug
block body
	include ../lib/statistical/s-1/index.pug
block footer
	include ../lib/footer/f-1/index.pug
	include ../lib/footer/f-7/index.pug
