section.canhcam-nav-5
	article.nav-list
		.container
			nav
				ul
					li
						a.active(href="./support.html") Câu hỏi thường gặp
					li
						a(href="#") Mẹo quản lý tài chính
					li
						a(href="./borrow.html") Vay ngân hàng
					li
						a(href='#') Tư vấn thiết kế