section.canhcam-sale-1
	.container
		h1.antuong-title.mb-4.upcase Bất động sản bán
		.select
			.row
				.col-lg-3
					.sl-city(data-mh="select")
						select
							option Loại bất động sản
				.col-lg-3
					.sl-city(data-mh="select")
						select
							option Tỉnh/ Thành phố
							option Đồng Nai
							option Sài Gòn
				.col-lg-3
					.sl-city(data-mh="select")
						select
							option Chọn Quận/ Huyện
				.col-lg-3
					.sl-city(data-mh="select")
						select
							option Diện tích
			.row.mt-lg-3
				.col-lg-3
					.sl-city(data-mh="select")
						select
							option Giá
				.col-lg-3
					.sl-city(data-mh="select")
						select
							option Chọn hướng nhà
				.col-lg-3.text-center.text-lg-left
					a.btn.btn-search(href='#' data-mh="select") Tìm Ngay