footer.canhcam-footer-7
	.footer-content
		.container
			.row.justify-content-between
				.col.text-center.text-lg-left
					img.img-fluid(src='./img/antuong/logo_2.png')
				.col-12.col-lg-3.text-center.text-lg-left.mt-5.mt-lg-0
					.footer-nav
						h6 Công ty TNHH An Tường Real
						p Tòa nhà Charmington La Pointe - 181 Cao Thắng, P. 12, Q. 10, TP. HCM
						.info
							p
								em.mr-3.mdi.mdi-fax
								| nfo@antuongreal.vn
							p
								em.mr-3.mdi.mdi-email
								| nfo@antuongreal.vn
				.col-12.col-lg-3.mt-5.mt-lg-0
					.footer-nav.text-center.text-lg-left
						h6.text-center.text-lg-left Kết nối với chung tôi
						.social
							a(href="#")
								em.fab.fa-facebook-f
							a(href="#")
								em.fab.fa-youtube
							a(href="#")
								em.fab.fa-google
						.phone.mt-3 0122 9999
							
				.col-12.col-lg-3.mt-5.mt-lg-0
					.footer-nav
						h6.text-center.text-lg-left Đăng ký nhận bản tin
						p Đăng kí nhận những cập nhật mới nhất về bất động sản & Tip kiếm tiền online hiệu quả với An Tường Real.
						.search.d-flex
							input.form-control(type='text', placeholder="Địa chỉ email...", aria-label="Search", aria-describedby='basic-addon2')

	.container
		.copy-right
			.row
				.col-lg-3
					.link
						a(href="#") Chính sách bảo mật
						a(href="#") Sơ đồ trang
				.col
					span © 2018 ABC.,Ltd . All Rights Reserved. Designed by 
						a(href="https://www.canhcam.vn/") Cánh Cam.
