section.canhcam-nav-1
	article.nav-list
		.container
			nav#greenland-scroll
				ul
					li
						a.active(href="#canhcam-about-section-1") Về chúng tôi
					li
						a(href="#canhcam-about-section-2") Tầm nhìn & Sứ mệnh
					li
						a(href="#canhcam-about-section-3") Hội đồng thành viên
					li
						a(href="#canhcam-about-section-4") Cam kết cộng đồng