section.canhcam-boxes-1
	article.container.text-center
		h1.antuong-title 3 bước kiếm thu nhập cùng An Tường Real
		.row.no-gutters.boxes-details
			.item.col-lg-4.col-12
				.row.no-gutters
					.col.text-center
						img.img-fluid.mb-5(src='./img/antuong/home/home_icon_1.png')
						h3 Đăng ký cộng tác viên
						p Tạo tài khoản để bắt đầu kiếm thu nhập
			.item.col-lg-4.col-12
				.row.no-gutters
					.col.text-center
						img.img-fluid.mb-5(src='./img/antuong/home/home_icon_2.png')
						h3 Bán sản phẩm
						p Đăng sản phẩm bất động sản và chia sẻ với mọi người
			.item.col-lg-4.col-12
				.row.no-gutters
					.col.text-center
						img.img-fluid.mb-5(src='./img/antuong/home/home_icon_3.png')
						h3 Nhận hoa hồng
						p Nhận hoa hồng từ mỗi sản phẩm bán/ cho thuê thành công
		a.btn.btn-more(href="#") Xem thêm