section.canhcam-customer-1
	.container
		.row
			.col-lg-3
				include ../../nav/n-8/statistical.pug
			.col-lg-9
				.table-result.mt-5.mt-lg-0
					h1.antuong-title.upcase.mb-4.main Thông tin khách hàng
					table.table
						thead
							tr
								th(scope="col" width='10%') ID
								th(width='30%') Họ và Tên
								th Số điện thoại
								th Sản phẩm BĐS
						tbody
							tr
								th(scope="row") 1
								td.text-left Trương Đình Long
								td 06132717211
								td Đã thanh toán
							tr
								th(scope="row") 1
								td.text-left Trương Đình Long
								td 06132717211
								td Đã thanh toán
							tr
								th(scope="row") 1
								td.text-left Trương Đình Long
								td 06132717211
								td Đã thanh toán
							tr
								th(scope="row") 1
								td.text-left Trương Đình Long
								td 06132717211
								td Đã thanh toán
							tr
								th(scope="row") 1
								td.text-left Trương Đình Long
								td 06132717211
								td Đã thanh toán
							tr
								th(scope="row") 1
								td.text-left Trương Đình Long
								td 06132717211
								td Đã thanh toán