section.canhcam-boxes-3
	.container.number
		.row.justify-content-center
			.col-lg-12
				.row.no-gutters.align-items-stretch
					.col-sm-6
						.item.d-flex.align-items-center.justify-content-center
							.content.d-flex
								.count
									h5(class="counter", data-duration="8000", data-count="2350") 0
									span
										| +
								.text
									img(src="./img/antuong/home/home_icon_8.png", alt="")
									p Lorem ipsum dolor sit
					
					.col-sm-6
						.item.d-flex.align-items-center.justify-content-center
							figure
								i.mdi.mdi-credit-card-multiple
								figcaption
									h3
										span(class="counter", data-duration="8000", data-count="5465") 0
									p Employees
						