section.canhcam-project-detail-1#canhcam-detail-section-1
	.container
		.row.no-gutters
			.col-lg-6.order-2.order-lg-1.mt-5.mt-lg-0
				img.img-fluid.w-100(src='./img/antuong/project_detail/detail_1.png')
			.col-lg-6.content-right.order-1.order-lg-2
				
				h1.antuong-title.left.upcase Giới thiệu Venica
				article.inf
					.content
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, explicabo soluta. Ab, id labore. Iusto ducimus temporibus quae ratione excepturi rerum placeat dicta tempora, et sit ipsa neque laboriosam harum!
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, explicabo soluta. Ab, id labore. Iusto ducimus temporibus quae ratione excepturi rerum placeat dicta tempora, et sit ipsa neque laboriosam harum!
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, explicabo soluta. Ab, id labore. Iusto ducimus temporibus quae ratione excepturi rerum placeat dicta tempora, et sit ipsa neque laboriosam harum!
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, explicabo soluta. Ab, id labore. Iusto ducimus temporibus quae ratione excepturi rerum placeat dicta tempora, et sit ipsa neque laboriosam harum!
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, explicabo soluta. Ab, id labore. Iusto ducimus temporibus quae ratione excepturi rerum placeat dicta tempora, et sit ipsa neque laboriosam harum!
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, explicabo soluta. Ab, id labore. Iusto ducimus temporibus quae ratione excepturi rerum placeat dicta tempora, et sit ipsa neque laboriosam harum!
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, explicabo soluta. Ab, id labore. Iusto ducimus temporibus quae ratione excepturi rerum placeat dicta tempora, et sit ipsa neque laboriosam harum!
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, explicabo soluta. Ab, id labore. Iusto ducimus temporibus quae ratione excepturi rerum placeat dicta tempora, et sit ipsa neque laboriosam harum!
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, explicabo soluta. Ab, id labore. Iusto ducimus temporibus quae ratione excepturi rerum placeat dicta tempora, et sit ipsa neque laboriosam harum!
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, explicabo soluta. Ab, id labore. Iusto ducimus temporibus quae ratione excepturi rerum placeat dicta tempora, et sit ipsa neque laboriosam harum!
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, explicabo soluta. Ab, id labore. Iusto ducimus temporibus quae ratione excepturi rerum placeat dicta tempora, et sit ipsa neque laboriosam harum!
						