section.canhcam-nav-7
	article.nav-list
		.container
			nav
				ul
					li
						a.active(href="#") Giới thiệu
					li
						a(href="#") Cách thứ hợp tác
					li
						a(href="#") Mô hình hoạt động
					li
						a(href="#") Quyền lợi từ chương trình
					li
						a(href="#") Hoa hồng & Phương thức thanh toán
					li
						a(href="#") Điền kiện & Thể lệ