section.canhcam-about-1#canhcam-about-section-1
	.container
		h1.antuong-title.mb-5.upcase Về chúng tôi
		.row
			.col-lg-7.order-2.order-lg-1
				.content.mt-4.mt-lg-0
					p An Tường Real là công ty công nghệ hoạt động trong lĩnh vực Bất động sản, chính thức ra mắt vào tháng 4 năm 2018. Với đội ngũ nhân sự cao cấp trong nhiều lĩnh vực, An Tường Real phát triển hệ thống phân phối bất động sản trực tuyến dựa trên bản đồ, cung cấp dịch vụ môi giới hoàn hảo, tạo ra một quá trình mua, bán, cho thuê Bất động sản thông minh và hiệu suất cao, dựa trên sự kết hợp giữa công nghệ hiện đại và các chuyên viên tư vấn hàng đầu.
					p An Tường Real là công ty công nghệ hoạt động trong lĩnh vực Bất động sản, chính thức ra mắt vào tháng 4 năm 2018. Với đội ngũ nhân sự cao cấp trong nhiều lĩnh vực, An Tường Real phát triển hệ thống phân phối bất động sản trực tuyến dựa trên bản đồ, cung cấp dịch vụ môi giới hoàn hảo, tạo ra một quá trình mua, bán, cho thuê Bất động sản thông minh và hiệu suất cao, dựa trên sự kết hợp giữa công nghệ hiện đại và các chuyên viên tư vấn hàng đầu.
			.col-lg-5.order-1.order-lg-2.text-center(bg-img='./img/antuong/about/about_bg_1.png')
				img.img-fluid(src="./img/antuong/about/about_1.png", alt="")