section.canhcam-home-3
	.container
		h1.antuong-title.mb-5 Blog
		.row
			.col-lg-4.col-12.col-md-6
				a.item(href="#")
					figure
						.boxzoom
							img.img-fluid.w-100(src="./img/antuong/home/home_2.png", alt="")
						figcaption
							p.time 26/06/2018
							h5 Một căn hộ được 100 triệu với dự án Himlam An Phú
							p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus, et dolore? Voluptates sit non exercitationem rem dolores distinctio minus il
							span tin thị trường
			.col-lg-4.col-12.col-md-6
				a.item(href="#")
					figure
						.boxzoom
							img.img-fluid.w-100(src="./img/antuong/home/home_2.png", alt="")
						figcaption
							p.time 26/06/2018
							h5 Một căn hộ được 100 triệu với dự án Himlam An Phú
							p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus, et dolore? Voluptates sit non exercitationem rem dolores distinctio minus il
							span tin thị trường
			.col-lg-4.col-12.col-md-6
				a.item(href="#")
					figure
						.boxzoom
							img.img-fluid.w-100(src="./img/antuong/home/home_2.png", alt="")
						figcaption
							p.time 26/06/2018
							h5 Một căn hộ được 100 triệu với dự án Himlam An Phú
							p Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita excepturi, quia porro eveniet quam ut! Ad autem doloremque labore deserunt quas nisi, alias dicta cupiditate sequi animi optio, aliquid ducimus.
							span tin thị trường
		.text-center
			a.btn.btn-more.mt-3(href='#') Xem thêm